body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chakra-modal__content-container {
  padding: 15px;
}

.nav-link:hover {
  background-color: rgb(235, 235, 235) !important;
}

.menu-list {
  >a {
    transition: all 0.2s ease-in-out;
    border-radius: 6px;
    outline: 2px solid transparent;

    &:hover {
      outline: 1px solid #b0b9c2;
    }
  }

  >.active {
    outline: 1px solid #b0b9c2;

  }
}